@media (max-width: 689px){
    form{
        display: flex;
        text-align: right;
        align-items: center;
        width: 100%; /* Asegura que el formulario se ajuste al 100% del ancho disponible */
        max-width: 350px; /* Limitar el máximo a 350px */
        margin: 0 auto;
    }
    input[type="search"]{
        all: unset;
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-right: 10px;
        top: 0;
        right: 0;
        font-family: Arial, sans-serif;
        font-size: 18px;
        padding: 8px; 

    }
}
