.navBarra{
    font-size: 1.25rem;
}
.menuLogos{
    font-size: 1.875rem;
}
.seccionesInicio{
    font-size: 2.5rem;
}
main h2{
    font-size: 2.1875rem;
}
main section div a{
    font-size: 1.25rem;
}
main article div a{
    font-size: 1rem;
}
h1{
    font-size: 3.125rem;
}
main section div h3{
    font-size: 2.1875rem;
}
main article div h2 {
    font-size: 4.375rem;
}
.textoTakeAway{
    font-size: 1.5625rem;
}
main section div p{
    font-size: 1.25rem;
}
main section div button{
    font-size: 1.25rem;
}
main section p{
    font-size: 1.5625rem;
}
